<section class="sessionsPostSection">
  <% content_for :title, "Editing post" %>

  <h1>Editando post</h1>
  
  <div class="postFormSection">
    <%= render "form", post: @post %>
    
    <br>
</section>

    <div class="postActions">
      <%= link_to "Visualizar este post", @post %>
      <%= link_to "Voltar para posts", posts_path %>
    </div>
  </div>