<section class="sessionsPostSection">
  <% content_for :title, "New post" %>

  <h1>Novo Post</h1>

  <%= render "form", post: @post %>

  <br>
</section>

<section class="postActions">
  <%= link_to "Voltar para posts", posts_path %>
</section>
